.profile {
  width: 100%;
  max-width: 960px;
}

.profile .profile__header {
  margin-bottom: 50px;
}

.profile__photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__photos .profile__uploaded {
  width: 32%;
  height: 300px;
  margin-bottom: 20px;
}

.profile__uploaded img {
  width: 100%;
  height: 100%;
}
